*.py[cod]
__pycache__/
*.so
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
venv/
env/
ENV/
.venv/
.DS_Store
Thumbs.db
.vscode/
.idea/
.pytest_cache/
htmlcov/
.coverage
*.cover
.hypothesis/
.tox/
*.egg
*.egg-info/
dist/
build/
eggs/
.env
.env.local
/media/
staticfiles/
node_modules/
local_settings.py
node_modules/
public/build/
/public/static/
.svelte-kit/
build/
.npm/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
/.cache/